<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Circles</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/circles.css">
    </head>
    <body>
    <canvas id="myCanvas" resize></canvas>
    </body>
</html>