<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circles</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.5/howler.core.min.js"></script>
    <link rel="stylesheet" type="text/css" href="circles.css">
    <script type="text/paperscript" canvas="myCanvas" src="circles.js"></script>
</head>
<body>
<canvas id="myCanvas" resize></canvas>
</body>
</html>